<footer>
    <a href="https://www.instagram.com/">
        <img id="insta" src="https://img.icons8.com/material-outlined/512/instagram-new.png">
    </a>
    <a href="https://www.linkedin.com/">
        <img id="insta" src="https://img.icons8.com/color/512/linkedin.png">
    </a>
    <br>
    Copyright &copy; NodeJs Blog 2022
</footer>